.container {
    width: 100%;
    background: rgb(9, 10, 15);
    color: white;
    font-family:'Ubuntu', sans-serif;
    
}

 .container__principal {
    width: 100%;
    
    
 }
.cabecalhoPrincipal {
  
    display: flex;
    border-radius:1px solid;
    box-shadow: 1px 2px 10px 2px #00000090;
    
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.cabecalhoPrincipal__titulo {
    font-weight: bold;
	font-size: 2em;
	margin: 2rem 2rem;
    
    
    
 
}

.cabecalhoPrincipal__titulo a {
	text-decoration: none;
	color: white;
    
    
}

.cabecalhoPrincipal__nav {
    display: flex;
    
    
    
}
.cabecalhoPrincipal-nav__link {
    padding: 10px;
    text-decoration: none;
    color: inherit;
    padding: 2rem;
    font-size: 20px;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    
    
}

.conteudoPrincipal {
    background-color: rgb(22, 37, 53);
    height: 100%;
}
.conteudoPrincipal__imagem {     
    display: block;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    width: 500px;
}

.subtitulo {
    font-weight: bold;
    font-size: 4rem;
    font-family:'Ubuntu', sans-serif;
    padding-top: 2rem;
    text-align: center;
    color: white;
    
    
    
}

.paragrafoPrincipal { 
    font-family:'Ubuntu', sans-serif;
    font-size: 2rem;
    display: flex;
    text-align: center;
    margin-top: 2rem;
    padding: 6rem;
    box-shadow: 1px 2px 10px 2px #00000090;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url(../img/wp3688959.jpg);

}

.imagem {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    width: 360px;
}

.imagem1 {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 360px;
}



.container__lista {
    width: 100%;
    background-color: rgb(22, 37, 53);
    
    
}
.conquista__coluna {
    display: flex;
    
    
    
}
.conquista__lista{
   display: flex;
   background-color: rgb(22, 37, 53);
   
   
   
    
    
}

.conquistas__titulo {
    font-weight: bold;
	font-size: 4rem;
	padding: 4rem;
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    color: white;

    
    
    
    
    
    
   
}

.conquita__titulo {
    font-size: 1.5rem;
    margin: 1rem;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey;
    font-weight: bold;
    
    
    
    
    
   
    
}

.conquista__ajuste{
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 20px 10px 2px #00000090;
    width: 300px;
    margin:0 auto;
    background-image: url(../img/wp3688959.jpg);
    position: relative;
    
    
    
    
    
    
    
    
    
}

    
    
    
.ajuste__paragrafo {
   margin-left: 1rem;
   padding: 2rem;
   font-family:'Ubuntu', sans-serif;
   
   
}


.imagem__lista{
     width: 35px;
     display: flex;
     position: absolute;
     margin-top: 1.5rem;
     
    

}

.ajuste__a {
    display: flex;
    flex-direction: column;
    margin: 0 AUTO;
    border: 1px solid black;
    border-radius:20px;
    box-shadow: 1px 2px 10px 2px #00000090;
    margin-bottom: 3rem;
    background-image: url(../img/wp3688959.jpg);
   
} 

.img__status {
    position: absolute;
    display: flex;
    margin-top: 7%;
    margin-left: 39%;
    opacity: 0.5;
   height: 197px;
    
    
}

.img__status:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}
    
      
        
      


.ajuste__botao {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    max-width: 300px;
    font-family:'Ubuntu', sans-serif;
    text-decoration: none;
	color: inherit;
    overflow: hidden;
   
    position: relative;
    
}

.ajuste__botao:before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    background: white;
    z-index: -1;
    
}
.botao1::before {
    width: 0;
    height: 100%;

    top: 0;
    left: 0;
}

.botao1:hover::before{
    width: 100%;
}



.ajuste__botao:hover {
    
    transform: scale(1.2);
    transition: 0.5s;
    color: black;
}

.ajuste__botao2 {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    max-width: 300px;
    font-family:'Ubuntu', sans-serif;
    text-decoration: none;
	color: inherit;
    overflow: hidden;
    margin-top: 2rem;
    
    
    
}

.ajuste__botao2:before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    background: white;
    z-index: -1;
    
}
.botao2::before {
    width: 0;
    height: 100%;

    top: 0;
    left: 0;
}

.botao2:hover::before{
    width: 100%;
}
.ajuste__botao2:hover {
    
    transform: scale(1.2);
    transition: 0.5s;
    color: black    ;
    
    
}

.container__rodape {
    width: 100%;
    background:  rgb(9, 10, 15)
}


.ajuste__rodape {
    font-size: 1.5rem;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    color: white;
    padding: 20px;
    justify-content: center;
    
}

.container__rewards {
    width: 100%;
    padding-bottom: 2rem;
    background-color: rgb(22, 37, 53);
    color:white
    
  
}

.titulo__reward {
    font-weight: bold;
	font-size: 4rem;
	padding: 4rem;
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    
    
    
}


.imagem__fundo{
    position:absolute;
    left:16%;
    top: 1060px;
    height: 470px
}

.imagem__fundo1 {
    position:absolute;
    left:66%;
    top: 1060px;
    height: 470px
}

.imagem__fundo2 {
    position:absolute;
    left:34%;
    top:1060px;
    height: 470px
}

